@import "../styles/mixins/mixins.scss";
@import "../styles/placeholders/placeholders.scss";
@import "../styles/variables/variables.scss";

.app {
    align-items: space-between;
    background-color: $color_light;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;

    .app__dishesForm {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin: 40px 10px;
        width: 90%;
    }

    .img--fitted {
        @extend %imgFitted;
    }

    .app__img--large {
        @extend %imgLarge;
    }

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;

        .app__dishesForm {
            width: 70%;
        }
    }
}
